* {
  margin:0; 
  padding:0;
}

body {
  background-color: black ;
}


#inicio {
  width: 100%;
  height: 50vh;
  background: url("../public/img/portrait.png") top left;
  background-size: cover;
  position: relative; }
  #inicio:before {
    content: "";
    background: rgba(216, 216, 216, 0.45);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0; }
  #inicio .container {
    position: relative; }
    #inicio .container h1 span {
      color: #106eea; }
  #inicio h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #222222;
    font-family: "Poppins", sans-serif; }
  #inicio h2 {
    color: #2e2e2e;
    margin: 5px 0 30px 0;
    font-size: px;
    font-weight: 400;
    font-family: "Poppins", sans-serif; }

@media (min-width: 1024px) {
  #inicio {
    background-attachment: fixed; } }

@media (max-width: 768px) {
  #inicio {
    height: 100vh; }
    #inicio h1 {
      font-size: 28px;
      line-height: 36px; }
    #inicio h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px; } }

@media (max-height: 500px) {
  #inicio {
    height: 120vh; } }


.navbar .navbar-NavLink {
  color: gray;
  text-decoration: none;
  margin-left: 1rem;
}
.navbar-NavLink:hover {
  color:black
}

  footer {
    background: #f0f0f0;
}

.detail-container {
  margin-top: 5%;
}

.counter {
  left: 0;
  margin-left: 25%;
  margin-top: 5%;
  width: 50%;
}
.counter_buy button{
  margin-top: 5%;
  width: 100%;
}


.cost span {
  color: rgb(10, 119, 177);
  font-weight: bold;
  font-size: 20px;
}

#card {
  border: none;
  outline: none;
  background-color: rgb(247, 247, 247);
  transition: transform .3s;
}

#card:hover {
  transform: translateY(-15px);
  transition: transform .6s;
  box-shadow: 0 0 30px rgb(210, 210, 210);
  background-color: rgba(255, 255, 255, 0.75);
}

.info {
  line-height: 17px;
}

.card-text {
  font-size: 1rem;
  color: #727272;
}

.btn {
  width: 100%;
  height: 50px;
}

.bg-footer {
  background-color: rgb(247, 247, 247);

}

.Navlink {
  text-decoration: none;
}


.cartList_items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  height: 100px;
}

 .cartList img {
  width: 15%;
  height: auto;
}

.cartList_title {
  width: 20%;
}


.btn-CartItem {
  width: 15%;

} 

